{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div 
        style=" background: rgba(33, 36, 177, 0.2); color: gray;
        border: 1px solid #2124b0;position: absolute; top: 14px; left: 10px; border-radius: 20px; padding: 6px 16px; ">
            <p style="margin-bottom: 0;">1CS-2023-2024</p>
        </div>
    <div 
        style="  color: #2124b0; position: absolute; top: 20px; right: 40%; border-radius: 20px; padding: 6px 16px; ">
            <p style="margin-bottom: 0; font-weight: bold; letter-spacing: 2px; text-transform: uppercase;">Ask question</p>
        </div>
    <div class="mt-5">
        <div class=" mt-5" style="background-color: rgba(33, 36, 176, 0.2); border-radius: 16px;" >
            <form method="post" style="margin-top: 100px;border: 1px solid #2124b0; border-radius: 16px;">
                {% csrf_token %}
                <table class="table " style="font-family: 'Poppins';">
                    {{form.as_table}}
                    <tr >
                        <td colspan="2">
                            <button class="btn" style="background-color: #2124b0; color: white;">Submit</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
{% endblock %}